/* About.css */

/* Estilo principal da seção "Sobre" */
.about-section {
  display: flex; /* Define o layout flexível */
  justify-content: space-around; /* Distribui os itens com espaço ao redor */
  align-items: center; /* Alinha os itens ao centro verticalmente */
  padding: 150px 20px; /* Define o preenchimento da seção */
  margin-top: -50px; /* Define a margem superior negativa */
}

/* Estilo para o conteúdo da seção "Sobre" */
.about-content {
  max-width: 600px; /* Define a largura máxima */
  text-align: right; /* Alinha o texto à direita */
}

/* Estilo para o título da seção "Sobre" */
.about-title {
  margin-top: 0px;
  font-size: 4rem; /* Define o tamanho da fonte */
  margin-bottom: 20px; /* Define a margem inferior */
  color: #ffffff; /* Define a cor do texto */
  text-shadow: -2px 2px 2px rgb(0, 0, 0); /* Adiciona sombra leve */
  text-align: left; /* Alinha o texto à esquerda */
}


/* Estilo para a descrição principal */
.about-description {
  font-size: 1.5rem; /* Define o tamanho da fonte */
  line-height: 1.6; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto */
  margin-bottom: 20px; /* Define a margem inferior */
  text-align: justify; /* Justifica o texto */
  text-shadow: -1px 1px 1px rgb(0, 0, 0); /* Adiciona sombra leve */
}

/* Estilo para a descrição secundária */
.about-description2 {
  font-size: 1rem; /* Define o tamanho da fonte */
  line-height: 1.6; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto */
  margin-bottom: 20px; /* Define a margem inferior */
  text-align: justify; /* Justifica o texto */
  text-shadow: -1px 1px 1px rgb(0, 0, 0); /* Adiciona sombra leve */
}

/* Estilo para o contêiner da animação */
.about-animation-container {
  width: 30%; /* Define a largura em 30% */
  max-width: 220px; /* Define a largura máxima em pixels */
  height: auto; /* Define a altura automática */
  margin-right: 20px; /* Margem à direita para espaçamento */
}

/* Media queries para dispositivos menores */
@media (max-width: 768px) {
  /* Ajuste da seção "Sobre" para dispositivos menores */
  .about-section {
    flex-direction: column; /* Muda a direção do flex para coluna */
    align-items: center; /* Alinha os itens ao centro */
  }

  /* Ajuste do contêiner da animação para dispositivos menores */
  .about-animation-container {
    width: 40%; /* Define a largura em 50% */
    max-width: 80%; /* Define a largura máxima em 80% da largura da tela */
    margin-bottom: 40px; /* Define a margem inferior */
  }

  /* Ajuste do conteúdo da seção "Sobre" para dispositivos menores */
  .about-content {
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 80%; /* Define a largura máxima em 80% da largura da tela */
    margin-bottom: 30px; /* Define a margem inferior */
  }

  /* Ajuste do título da seção "Sobre" para dispositivos menores */
  .about-title {
    font-size: 3rem; /* Reduz o tamanho da fonte */
  }

  /* Ajuste da descrição principal para dispositivos menores */
  .about-description {
    font-size: 1.2rem; /* Reduz o tamanho da fonte */
  }

  /* Ajuste da descrição secundária para dispositivos menores */
  .about-description2 {
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
  }
}
