/* Arquivo: src/components/Footer/Footer.css */

.footer {
  background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 0.151),
    rgba(230, 230, 230, 0.144),
    rgba(220, 220, 220, 0.123),
    rgba(210, 210, 210, 0.123),
    rgba(200, 200, 200, 0.123),
    rgba(190, 190, 190, 0.123),
    rgba(180, 180, 180, 0.123),
    rgba(170, 170, 170, 0.123),
    rgba(160, 160, 160, 0.123),
    rgba(160, 160, 160, 0.123),
    rgba(170, 170, 170, 0.123),
    rgba(180, 180, 180, 0.123),
    rgba(190, 190, 190, 0.123),
    rgba(200, 200, 200, 0.123),
    rgba(210, 210, 210, 0.123),
    rgba(220, 220, 220, 0.123),
    rgba(230, 230, 230, 0.144),
    rgba(240, 240, 240, 0.151)
  );

  color: #fff;
  text-align: center;
  padding: 10px 2;
  position: fixed;
  bottom: -50px; /* Inicialmente fora da tela */
  width: 100%;
  transition: bottom 0.3s ease; /* Transição suave para animar o aparecimento */
}

.footer.visible {
  bottom: 0; /* Mostra o footer quando chegar ao fim da página */
}

.footer a {
  text-decoration: none; /* Remove o sublinhado dos links dentro do footer */
}

.footer a.thiagonet {
  color: #fff; /* Cor branca para o texto */
  font-weight: bold; /* Texto em negrito */
}
